p {
	text-align:  left;
}

section.toc-pause li.infocus {
    font-size: 1.5em;
    font-weight: bold;
    list-style-type: decimal;
    line-height: 1.2;
    margin-top: 50px;
    margin-bottom: 50px;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, .5);
}
section.toc-pause li:not(.infocus) {
    opacity: .5;
    list-style-type: decimal;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: none;
    text-shadow: none;
}
p>code {
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    /* background-color: #eef;*/
    padding: 1px 5px;
}

.print-pdf .slide-menu-button, .print-pdf #toggle-chalkboard {
	display:none;
}


.hide-with-next-fragment.visible:not(.current-fragment) {
    display: none;
}
